# Logs
logs
*.log
npm-debug.log*
yarn-debug.log*
yarn-error.log*
pnpm-debug.log*
lerna-debug.log*

# Dependency directories
node_modules

# Build outputs
dist
dist-ssr
.vite/

# TypeScript → JavaScript のビルド出力
src/**/*.js
src/**/*.js.map

# 環境変数ファイル
.env
.env.*.local

# エディタ関連
.vscode/*
!.vscode/extensions.json
.idea
.DS_Store
*.suo
*.ntvs*
*.njsproj
*.sln
*.sw?
